{% extends 'base.html.twig' %}

{% block title %}Phash{% endblock %}

{% block body %}
    <div id="app" data-url="{{ websocket.url }}" data-realm="{{ websocket.realm }}" data-password="{{ websocket.password }}" data-version="{{ version }}">
        <router-view></router-view>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
